
.bg-dark-green{
  background-color: rgb(rgb(7, 66, 34), green, blue);
}
.text-dark-green{
  color: rgb(rgb(7, 66, 34), green, blue);
}
.bg-light-green{
  background-color: rgb(rgb(5, 122, 58), green, blue);
}
.text-light-green{
  color: rgb(rgb(5, 122, 58), green, blue);
}
.text-pink{
  color:rgb(rgb(255, 68, 165), green, blue);
}

